/* stylelint-disable selector-class-pattern */

/* Minimal required CSS for Lenis */
html.lenis {
  block-size: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
