// components/SocialSidebar/SocialSidebar.module.scss
@use '../../styles/spacings' as spacings;
@use '../../styles/mixins' as *;

.socialSidebar {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: spacings.spacing(lg);
  z-index: 10;
  opacity: 0;
  transform: translateY(20px);

  @include transition(all, 0.3s, cubic-bezier(0.645, 0.045, 0.355, 1));

  @include breakpoint(lg) {
    inset-inline-start: spacings.spacing(xl);
  }

  @media (width <= 767px) {
    display: none;
  }
}

.socialList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socialItem {
  margin-block-end: spacings.spacing(md);

  &:last-child {
    margin-block-end: 0;
  }
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacings.spacing(xs);
  color: var(--color-text-secondary);

  @include transition;

  &:hover {
    color: var(--color-accent);
    transform: translateY(-5px);
  }

  &:focus {
    color: var(--color-accent);
    outline: none;
  }
}

.verticalLine {
  inline-size: 1px;
  block-size: 100px;
  margin-block-start: spacings.spacing(sm);
  background-color: var(--color-text-secondary);
}
